# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project files
test.csv
id.txt
spavochnik.csv
test_folder/

# OS
.DS_Store
Thumbs.db
